{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pink.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'scripts.js' %}" type="text/javascript"></script>  
 <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

	<!--Main Container-->
	<div class="main-container">
		<!--Aside-->
		<div class="aside" id="aside">
			<!--Nav Toggle Button-->
			<div class="nav-toggler" onclick="myFunc()">
				<span></span>
			</div>
			<!--Nav Toggle Button End-->

			<!--Logo-->
			<div class="logo">
				<a href="#">VPUTRIA</a>
			</div>
			<!--Logo End-->
						
			<!--Nav-->
			<ul class="nav">
<<<<<<< HEAD
				<li><a onclick="myFunc()" href="{% url 'project_index' %}"><i class="fa fa-home"></i>Home</a></li>
				<li><a onclick="myFunc()" href="{% url 'project_index' %}#about"><i class="fa fa-user"></i>About</a></li>
				<li><a onclick="myFunc()" href="{% url 'project_index' %}#education"><i class="fa fa-list"></i>Education</a></li>
				<li><a onclick="myFunc()" href="{% url 'project_index' %}#portfolio"><i class="fa fa-briefcase"></i>Project</a></li>
				<li><a onclick="myFunc()" href="{% url 'blog_index' %}"><i class="fa fa-blog"></i>Blog</a></li>
=======
				<li>
					<a onclick="myFunc()" href="{% url 'project_index' %}">
					<i class="fa fa-home"></i>Home</a>
				</li>
				<li>
					<a onclick="myFunc()" href="{% url 'project_index' %}#about">
					<i class="fa fa-user"></i>About</a>
				</li>
				<li>
					<a onclick="myFunc()" href="{% url 'project_index' %}#education">
					<i class="fa fa-list"></i>Education</a>
				</li>
				<li>
					<a onclick="myFunc()" href="{% url 'project_index' %}#portfolio">
					<i class="fa fa-briefcase"></i>Project</a>
				</li>
				<li class="isi">
					<a onclick="myFunc()" href="{% url 'blog_index' %}">
					<i class="fa fa-blog"></i>Blog</a>
				</li>
>>>>>>> 103388685c6fa346521c7a7f3a0f8b2b957a1396
			</ul>
			<!--Nav End-->

			<!--Copyrigh-->
			<div class="copyrigh-text">
				Vika Putri Ariyanti &copy 2021
			</div>
			<!--Copyrigh End-->

		</div>
		<!--Aside End-->

		<!--main content-->
		<div class="main-content">
            {% block page_content %}{% endblock %}
		</div>
		<!--main content end-->

	</div>
	<!--Main Container End-->